@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: url("../images/bg.png") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  color: #ffffff;
}
/* Header starts here */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  padding: 10px;
}
.hamburger{
  display: none;
}
.logo img{
  width: 150px;
}
nav {
  padding: 10px;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 2px solid #ffffff;
}
.list-item a {
  color: #ffffff;
  text-decoration: none;
}
.contact {
  display: flex;
}
.contact img {
  padding-right: 10px;
}
/* Header starts here */


/* Main section starts here */
main {
  display: flex;
}
.main-text {
  height: 60vh;
  width: 50vw;
  padding: 30px;
  margin: 60px 30px 0 30px;
}
.main-text h1 {
  font-size: 4rem;
  margin-bottom: 35px;
}
button {
  background-color: transparent;
  padding: 10px 35px;
  font-size: 20px;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 25px;
}
.cards {
  width: 30%;
  position: relative;
  margin: 60px 30px 0 30px;
}

/* puzzle and idea box star here */
.box {
  position: absolute;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 150px;
  background-color: rgba(240, 255, 255, 0.297);
}
.idea {
  bottom: 0;
  left: -50%;
}
.puzzle {
  top: 0;
  right: -20%;
}
/* puzzle and idea box star here */

/* line and dot starts here  */
.line {
  position: absolute;
  margin: 10px;
  width: 85px;
  height: 85px;
}

.puzzle-line {
  border-left: 2px solid #ffffff;
  top: 95%;
  right: 0;
}

.idea-line {
  border-top: 2px solid #ffffff;
  left: 97%;
  bottom: 5%;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: #ffffff;
}

.dot-puzzle {
  margin-top: 100%;
  margin-left: -12%;
}
.dot-idea {
  margin-top: -12%;
  margin-left: 100%;
}
/* line and dot ends here */

.tiny-box {
  width: 130px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
}
.tiny-box img {

  color: black;
  margin: 0 0 0 30%;
}

/* Media Query */
@media screen and (max-width:850px){
  body{
    width: 100vw;
    padding: 0;
    overflow: auto;
  }
  .hamburger{
    display: block;
  }
  nav{
    width: fit-content;
  }
  nav .list-item,
  nav .contact-delails {
    display: none;
  }
  .logo img{
    width: 120px;
  }
  header{
    align-items: center;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
  }

  /* Main section */
  main{
    flex-direction: column;
  }
  .main-text{
    text-align: center;
    height: fit-content;
    margin: 0 auto;
    width: 79vw;
  }
  .main-text h1{
    font-size: 30px;
    width: 100%;
  }
  .cards{
    position: static;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .box{
    position: static;
    text-align: center;
  }
  .tiny-box{
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .tiny-box img{
    margin: 0 auto;
  }
  .line, .dot{
    display: none;
  }
}